{% extends "main/base.html" %}

{% block content  %}
<form method="GET"> 
  <input type="text" name="nome" placeholder="Buscar por nome">
  <input type="submit" value="Buscar">
</form>
<a href="{%url 'games.novo'%}">Novo</a>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Troféus</th>
      <th scope="col">Player Online</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
{% for games in object_list %}
    <tr>
      <td>{{games.nome}}</td>
      <td>{{games.qtd_trofeus}}</td>
      <td>
       {% if games.ativo %}
       Sim
       {% else %}
       Não
       {% endif %}
      </td>
      <td>
        <a href="{% url 'games.editar' games.pk %}">Editar</a>
        <a href="{% url 'games.remover' games.pk %}">Remover</a>
      </td>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}